body {
    font-family: sans-serif;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    padding: 100px;
}

.header{
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    justify-content: center;
    padding:60px;
    font-family: 'Monoton';
    font-size:60px;
    text-align: center;
}

.keypad {
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    justify-content: center;
}

.nums {
    display:flex;
    flex-wrap:wrap;
    width: 300px;
    align-items:center;
    justify-content: center;
}

.opers {
    display:flex;
    width: 100px;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}

button {
    /* font-family: 'Press Start 2P'; */
    font-family: 'Cute Font';
    font-size: 60px;
    width: 100px;
    height: 100px;
}